html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-order-section, .position-size-finder{
  margin: 20px;
}

@media (max-height: 100px) {
  .position-size-finder{
    display: none;
  }
  .Toastify__toast-container{
    top: 0;
    left: 0;
    width: 100%;
  }
}