html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-order-section, .position-size-finder, .notes{
  margin: 20px;
}

@media (max-height: 100px) {
  .position-size-finder, .notes{
    display: none;
  }
}