.order-placer {
    border: 1px solid black;
    padding: 10px;
}

.order-placer h2 {
    text-align: center;
    font-weight: normal;
    margin: 0 0 15px 0;
}

.order-placer fieldset {
    border: none;
}

.order-placer fieldset label {
    width: 110px;
    display: inline-block;
    text-align: right;
    padding: 0 10px;
}

.order-placer fieldset input,
.order-placer fieldset select {
    border: 1px solid black;
    outline: none;
    width: 140px;
    box-sizing: border-box;
    padding: 2px;
    height: 20px;
    appearance: none;
}

.order-placer .cta-panel {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.order-placer .cta-panel button {
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    padding: 5px 30px;
    cursor: pointer;
    font-family: monospace;
    font-size: 17px;
    color: black;
}

@media (max-height: 100px) {
    .order-placer {
        display: flex;
        justify-content: space-between;
        border: none;
    }

    .order-placer h2 {
        display: none;
    }

    .order-placer .cta-panel {
        margin: 0;
    }

    .order-placer fieldset label {
        text-align: left;
        padding: 0;
        width: unset;
    }

    .order-placer fieldset input,
    .order-placer fieldset select {
        width: 80px;
    }

    .order-placer fieldset {
        padding: 0 5px;
        margin: 0;
        line-height: 1.5;
    }

    .order-placer .cta-panel button {
        padding: 0 10px;
        margin: 0 2px;
    }
}